.nav-menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid black;
  width: 150px;
  height: 50px;
}

.nav-menu a {
  text-decoration: none;
}
